<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Pizza</title>
    <link rel="stylesheet" href="simplegrid.css">
    <script src="https://kit.fontawesome.com/1abd1e7e05.js" crossorigin="anonymous"></script>

    <style>
        .btn1 {
            background-color: #457b9d;
            border-radius: 50%;
            cursor: pointer;
        }

        .btn2 {
            display: inline-block;
            height: 38px;
            padding: 0 30px;
            color: #555;
            text-align: center;
            font-size: 13px;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: .1rem;
            text-decoration: none;
            white-space: nowrap;
            border-radius: 4px;
            border: 1px solid #bbb;
            cursor: pointer;
            box-sizing: border-box;
            /*box-sizing: border-box;
            border-radius: 2px;
            cursor: pointer;*/
        }

        body {
            background-color: #2a9d8f;
        }

        .box_model {
            border-radius: 1em;
        }

        .small_pizza {
            background-color: #e9c46a;
        }

        .medium_pizza {
            background-color: #f4a261;
        }

        .large_pizza {
            background-color: #e76f51;
        }

        .shopping_cart {
            background-color: #457b9d;
            height: 18;
            /* display: flex; */
            margin: 1em;
        }

        .contact_details {
            background-color: #84a59d;
            height: 10em;
        }

        .contacts {
            /*margin: 0em;
            padding: 0em;*/
            display: inline;
            float: left;
        }

        .location {
            /*margin: 0em;
            padding: 0em;*/
            display: inline;
            float: right;
        }

        .margin {
            margin: 1em
        }

        .marginright {
            margin-right: 1em;
        }

        .marginleft {
            margin-left: 1em;
        }

        /* .marginbottom{
            margin-bottom: 5em;
        } */

        .hidden {
            display: none;
        }

        .fa-instagram {
            color: red;
        }

        .fa-facebook {
            color: navy;
        }

        .fa-twitter {
            color: dodgerblue;
        }
    </style>
</head>

{{{body}}}

</html>