<body>
    <div class="container">
        <form action="/login" method="POST" style="margin:3em">
            <h2>Login</h2>
            <div class="input-field">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="input-field" type="text" id="username" name="username"
                    placeholder="Please enter Username">
            </div>
            <div class="input-field">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="input-field" type="password" name="password" placeholder="Please enter password">
            </div>
            <div class="input-field">
                <button type="submit" value="login">Login</button>
            </div>
        </form>
    </div>
</body>