<div>

	<h2 class="center">Pizza Orders</h2> 


	<form action="/orders" method="POST">

		<div>
			<label>Order Id:</label>
			<input type="text" name="order" value="order">
		</div>
		<div>
			<label for="">Order Status:</label>
			<input type="text" name="status" value="status">
		</div>
		<div>
			<label for="">Order Amount:</label>

			<input type="text" name="amount" value="amount">
		</div>
	</form>

</div>